/* Body */
body {
    background-color: var(--dark-bg);

}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    
    background-color: var(--black);
}

header img {
    width: 157.169px;
    height: 63px;
    cursor: pointer;
}

/* Content */
.content {
    padding: 12px;
}

/* Input */
.search-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.search-area input {
    width: 100%;
    height: 46px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: #E3E3E3;
    border: none;
    outline: none;
}

/* Button */
button {
    height: 46px;
    width: 105px;
    border: none;
    background: var(--blue);
    border-radius: 10px;
    margin-left: -60px;
    cursor: pointer;
}

/* Card */
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    cursor: pointer;
}

.card {
    width: 386px;
    height: 162px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-radius: 20px;
    background: #909090;
}

.text-card {
    padding: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text-card h1 {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

}

.type-card {
    display: flex;
    gap: 16px;
}

.type {
    width: 65px;
    height: 22px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-bottom: 10px;

    background-color: var(--green);
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.18) inset;
}

.text-click {
    width: 144px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    border-radius: 20px;
    color: #FFF;
    background: #79A75B;
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.18) inset;
}

.image-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-card img {
    width: 160px;
    height: 151px;
}

.details-poke {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    
}


.details-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    height: 371px;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7dd741;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.image img{
    width: 300px;
    height: 300px;
    
}

.content-text{
    padding: 24px;
    background-color: #79A75B;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text-important{
    display: flex;
    justify-content: space-between;
}

.name-pokemon{
    color: white;
    text-transform: capitalize;
    text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.10);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.details{
    margin-top: 24px;
    display: flex;
    gap: 136px;
    color: #FFF;
    margin-bottom: 42px;
}

.details p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.abilities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    width: 100%;
    height: 60px;
    padding: 20px;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 8px;
    background: var(--White-light, #FDFDFD);


    box-shadow: 4px 4px 4px 0px rgba(33, 33, 33, 0.10);
}

.circles{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.circle{
    width: 82.42px;
    height: 69.937px;
    background-color: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(33, 33, 33, 0.10);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rad{
    width: 35.474px;
    height: 36.598px;
    border: 3px solid #212121;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle p{
    color: #4B4B4B;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#icon-exit{
    cursor: pointer;
}

/* Media Query's */
@media(max-width: 800px){
    .details-content {
            display: flex;
            flex-direction: column;
            width: 80%; 
            max-width: 800px; 
            height: auto; 
    } 

    .image{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .content-text{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }


    .circles{
        justify-content: space-between;
        gap: 8px;
    }
}

@media (max-width: 469px) {

    .search-area {
        padding: 10px;
        margin-bottom: 16px;
    }

    .card{
        width: 350px;
    }

    
    .details-content {
            display: flex;
            flex-direction: column;
            width: 80%; 
            max-width: 800px; 
            height: auto; 
            
    } 

    .image{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .content-text{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }


    .circles{
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 400px) {

    .search-area {
        padding: 10px;
        margin-bottom: 16px;
    }

    .card{
        width: 300px;
    }

    .image-card img{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 300px) {

    .search-area {
        padding: 10px;
        margin-bottom: 16px;
    }

    .card{
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
    }

    .image-card img{
        width: 80px;
        height: 80px;
    }


    .details-content {
        display: flex;
        flex-direction: column;
        width: 70%; 
        max-width: 800px; 
        height: auto; 
        width: 200px;
    } 

    .image img{
        width: 100px;
        height: 100px;
    }

    .content-text{
        padding: 4px;
    }

    .name-pokemon{
        font-size: 16px;
    }

    .details{
        justify-content: space-between;
        gap: 0px;
    }

    .abilities{
        font-size: 12px;
    }

    .content-text{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }


    .circles{
        justify-content: center;
        gap: 10px;
    }
}